<div class="container-fluid d-flex">
  <!-- Sidebar Izquierdo -->
  <div class="sidebar d-flex flex-column align-items-center ">
    <img src="assets/logo.png" class="logo my-3" alt="Logo">
    <nav class="nav flex-column" style="width: 100%;">
      <a routerLink="/home" routerLinkActive="activo" class="nav-link">Home</a>
      <a routerLink="/vista1" routerLinkActive="activo" class="nav-link">Vista 1</a>
      <a routerLink="/vista2" routerLinkActive="activo" class="nav-link">Vista 2</a>
    </nav>
  </div>

  <!-- Contenido Derecho -->
  <div class="content p-4 flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>