<div class="container">
  <!-- Sección de búsqueda -->
  <div class="row my-3 align-items-center buscar">
    <div class="col-md-6 ">
      <h6 style="margin: 8px auto auto 20px;">País</h6>
      <input type="text" class="form-control" placeholder="Escribe el país que desees ver" [(ngModel)]="searchQuery" (input)="filterCountries()" aria-label="Pais">
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary btn-search">
          <i class="fa fa-search"></i> Buscar 
      </button>
    </div>
  </div>

  <!-- Sección de resultados y detalles -->
  @if (seleccionaPais) {
    <div class="row">
      <!-- Columnas de tarjetas de países -->
      <div class="col-md-8">
          <div class="row">
              @for(country of filteredCountries; track country.code) {
                  <div class="col-md-6">
                      <div class="card">
                          <img [src]="country.imageUrl || 'assets/image.png'" class="card-img-top" alt="{{country.name}}">
                          <div (click)="getCountryDetails(country.code)" 
                               [ngClass]="{ 'active': selectedCountryCode === country.code }" 
                               class="card-body d-flex align-items-center">
                              <img [src]="country.flagUrl || 'assets/image.png'" class="icon" alt="Icono">
                              <div class="info">
                                  <h5 class="texto tit">{{ country.name }}</h5>
                                  <p class="texto">{{ country.continent.name }}</p>
                              </div>
                          </div>
                      </div>
                  </div>
              }
          </div>
      </div>
      
      <!-- Detalle del país seleccionado (se muestra en la tercera columna de las primeras dos filas) -->
        <div class="col-md-4" *ngIf="seleccionaPais">
            <div class=" country-details">
                <button class="close-btn" (click)="clearSelection()">X</button>
                <img [src]="seleccionaPais.imageUrl || 'assets/image.png'" class="country-detail-img" alt="{{seleccionaPais.name}}">
                <div class="country-info">
                    <img [src]="seleccionaPais.flagUrl || 'assets/image.png'" alt="Bandera" class="icon">
                    <div>
                        <h5>{{ seleccionaPais.name }}</h5>
                        <p>{{ seleccionaPais.continent.name }}</p>
                    </div>
                </div>
                <p><strong>Capital:</strong> {{ seleccionaPais.capital }}</p>
                <p><strong>Language:</strong> {{ seleccionaPais.languages[0].name }}</p>
                <p><strong>Currency:</strong> {{ seleccionaPais.currency }}</p>
                <p><strong>Region:</strong></p>
                <ul>
                    <li *ngFor="let state of seleccionaPais.states">{{ state.name }}</li>
                </ul>
            </div>
        </div>
  </div>
  }@else {
    <div class="row ">
      @for(country of filteredCountries; track country.code ){
      <div class="col-md-4">
        <div class="card">
          <img [src]="country.imageUrl || 'assets/image.png'" class="card-img-top" alt="{{country.name}}">
          <div (click)="getCountryDetails(country.code)" [ngClass]="{ 'active': selectedCountryCode === country.code }" class="card-body d-flex align-items-center">
            <img [src]="country.flagUrl || 'assets/image.png'" class="icon" alt="Icono" >
            <div class="info">
              <h5 class="texto tit">{{country.name}}</h5>
              <p class="texto">{{country.continent.name}}</p>
            </div>
          </div>
        </div>
      </div>
    }
    </div>
  }
</div>