/* Estilos generales */
.container {
    margin-top: 20px;
}

/****************** div buscar *******************/
.buscar {
    border-radius: 70px;
    background-color: aliceblue;
    margin: auto 20%;
    justify-content: space-between;
    box-shadow: 0px 3px 0 rgb(127, 127, 127);
    padding: 10px; /* Agrega un poco de padding */
}

/* Estilos del input buscar */
.form-control {
    margin-left: 10px;
    border: none;
    font-size: 13px;
    border-radius: 0;
    border-bottom: 2px solid transparent; /* Línea debajo por defecto */
    transition: border-bottom 0.3s; /* Transición suave */
}

.form-control:focus {
    border-bottom: 2px solid rgb(25, 173, 231); /* Línea negra al hacer foco */
    box-shadow: none; /* Elimina el borde azul por defecto */
}

/* Estilos del botón de búsqueda */
.btn-search {
    border-radius: 20px;
    background-color: rgb(25, 173, 231);
    color: white;
}
/********************* Tarjetas de países ********************************/
.card {
    display:block;
    border-radius: 30px;
    box-shadow: 1px -5px 15px rgb(84, 84, 84);
    margin: 10px;
    padding: 0;
}

/* Imagen de la tarjeta */
.card-img-top {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

/* Información de la tarjeta */
.card-body {
    display: flex;
    align-items: center;
    border-radius: 0 0 20px 20px;
}
.card-body:hover{
    cursor: pointer;
}
.card-body .tit{
    color: rgb(25, 173, 231); font-weight: 600;
}
.card-body.active{
    background-color:rgb(25, 173, 231) ;
}
.card-body.active .texto{
    color: white;
}
/* Icono bandera pais*/
.icon {
    width: 40px; /* Ajusta el tamaño del icono */
    height: 40px;
    margin-right: 10px;
}

/* Información de título y subtítulo */
.info {
    display: flex;
    flex-direction: column;
}
/**********************DETALLE DE PAIS*********************************/
/* Contenedor de detalles del país */
.country-details {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: 450px;
    overflow-y: auto;
    position: fixed;
}
/* Botón de cerrar */
.close-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    font-weight: 600;
    background: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
/* Imagen de detalle del país */
.country-detail-img {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Información general del país */
.country-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.country-info img.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.country-info h5 {
    margin: 0;
    color: #1A73E8;
}

.country-info p {
    margin: 0;
    color: #555;
}

/* Lista de regiones */
ul {
    padding-left: 20px;
}
/* Responsividad */
@media (max-width: 768px) {
    .buscar {
        margin: auto; /* Elimina márgenes laterales */
        padding: 5px; /* Reduce el padding en pantallas pequeñas */
    }
    .col-md-6, .col-md-3 {
        flex: 1 1 100%; /* Permite que los elementos ocupen todo el ancho en pantallas pequeñas */
    }
    .form-control {
        font-size: 14px; /* Aumenta el tamaño del texto del input en pantallas pequeñas */
    }
    .btn-search {
        width: 100%; /* Hace que el botón ocupe todo el ancho en pantallas pequeñas */
    }
}